@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
  --background-color-1: linear-gradient(145deg, #2f3fcc 0, #3ad9ff 96%);

  --light-blue: #43b7ff;
  --dark-blue: #0383ce;
  --orange: #ff7300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--montserrat);
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body h2 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.3em;
}

h1,
h2,
h2 span,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
  margin: 0;
  color: #1d2124;
}

a,
ul,
li,
p {
  font-family: var(--poppins);
}

p {
  line-height: 1.7em;
  font-size: 1.1em;
}

.container {
  width: 95%;
  margin: auto;
  padding: 20px 30px;
  /* max-width: 1100px */
}

.section {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

/* ===== Header - Navbar ====== */
header {
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
}

.logo {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo img {
  width: 50%;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: -1;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  padding: 0.5rem 0.6rem;
  transition: 0.3s;
  margin: 0 10px 0 0;
}

.navbar ul li a {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 14px;
  font-family: var(--montserrat);
  line-height: 27px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  transition: 0.5s;
}

.navbar .sub-menu {
  position: absolute;
  top: 40px;
  flex-direction: column;
  background: #ecf5ff;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 0 10px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 0s linear 0.4s, opacity 0.3s linear,
    top 0.3s ease-out;
  -moz-transition: visibility 0s linear 0.4s, opacity 0.3s linear,
    top 0.3s ease-out;
  -ms-transition: visibility 0s linear 0.4s, opacity 0.3s linear,
    top 0.3s ease-out;
  transition: visibility 0s linear 0.4s, opacity 0.3s linear, top 0.3s ease-out;
}

.navbar li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.navbar ul li a::after,
.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  transition: 0.5s;
  background-color: var(--orange);
  bottom: 3px;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after,
.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a.active::after {
  width: 60%;
}

.navbar ul li a.active {
  color: var(--dark-blue);
}

.navbar.scroll-on,
.navbar.responsive-navbar.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out 0s;
  /* padding: 7px 30px; */
  background-color: #f6fbffde;
  backdrop-filter: blur(10px);
  z-index: 1000;
  animation: headerSlideDown 0.5s ease forwards;
}

@keyframes headerSlideDown {
  0% {
    margin-top: -100px;
    opacity: 0;
  }

  30% {
    margin-top: -50px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

/* ===== Mobile Navbar ===== */
#bar {
  display: none;
  color: var(--dark-blue);
  font-size: 26px;
}

.popup-mobilemenu {
  z-index: 1000000;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 40, 81, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out;
}

.popup-mobilemenu.menu-open {
  visibility: visible;
  opacity: 1;
}

.popup-mobilemenu .menu-inner {
  padding: 25px 40px;
  width: 375px;
  z-index: 999;
  position: absolute;
  background: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 70%);
  opacity: 0;
  right: -150px;
  transition: all 0.5s ease-out;
}

.popup-mobilemenu.menu-open .menu-inner {
  opacity: 1;
  right: 0;
  overflow-y: auto;
}

.popup-mobilemenu .menu-inner .menu-top {
  border-bottom: 1px solid rgba(21, 126, 255, 0.3);
  padding: 0 0 10px 0;
  display: flex;
  justify-content: flex-end;
}

.menu-top i {
  color: #1b1b1b;
  font-size: 29px;
}

.popup-mobilemenu .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  margin-top: 20px;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  margin-top: 20px;
  text-align: right;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li {
  display: inherit;
  margin: 12px 0px !important;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a {
  color: #1b1b1b;
  position: relative;
  transition: 0.4s;
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: var(--poppins);
  margin: 0;
  display: block;
  font-weight: 500;
  padding: 0;
  padding-bottom: 10px;
  opacity: 1;
}

.popup-mobilemenu .content .mainmenu-nav .navbar-list1 li a.active {
  color: var(--light-blue);
}

/* ====== Landing Page ===== */
.landing {
  height: 900px;
  height: 100vh;
  position: relative;
  /* margin-bottom: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/images/landing-img.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 55%;
}

.landing .container {
  /* margin-top: 130px; */
  position: relative;
}

.landing h1 {
  font-size: 1.6em;
  margin-bottom: 7px;
  width: 97%;
  line-height: 1.3em;
  font-weight: 800;
  color: #1b1b1b;
}

.landing h1 span {
  color: var(--dark-blue);
}

.landing h2 {
  margin-bottom: 12px;
}

.landing h2,
.landing p {
  font-size: 1.4em;
  width: 94%;
  font-weight: 500;
  line-height: 1.4;
  color: #1b1b1b;
}
.landing p {
  font-size: 1em;
  margin-bottom: 10px;
}

.landing .note {
  margin-bottom: 30px;
}

.landing-btn {
  cursor: pointer;
  color: #fff;
  height: auto;
  background: linear-gradient(90deg, #ff7300 0, #f6b400 100%);
  display: inline-block;
  font: 500 12px/16px var(--montserrat);
  border-radius: 5px;
  font-size: 1em;
  margin: 0px 0;
  padding: 15px 30px;
  border: 2px solid #fff;
  transition: 0.4s;
}

.landing-btn:hover {
  border-color: var(--orange);
  color: var(--orange);
  background: #fff;
}

.landing-btn i {
  font-size: 18px;
  margin-right: 5px;
}

.landing .landing-img {
  position: absolute;
  bottom: -120px;
  width: 57%;
  right: 0;
  z-index: -1;
  margin: auto;
}

.fa-map-location-dot {
  font-size: 26px;
  margin-left: 10px;
  color: var(--orange);
}

.landing p a {
  color: var(--dark-blue);
}

@media screen and (min-width: 992px) {
  .landing h1 {
    margin-top: 50px;
    font-size: 2.4em;
    width: 50%;
  }
  .landing h2,
  .landing p {
    width: 40%;
  }
}

/* ----- Pricing ----- */

.pricing-area {
  margin-top: 50px;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  /* z-index: 100; */
}

.price-box {
  background: #fff;
  border: 2px solid #e6f2ff;
  border-radius: 6px;
  padding: 70px 10px 30px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
  z-index: 100;
}

.price-box .price-head {
  position: absolute;
  text-align: center;
  background: var(--dark-blue);
  width: 100%;
  top: 0;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid #b9dafe;
}

.price-box span {
  text-transform: uppercase;
}

.price-box .price {
  position: relative;
  color: var(--dark-blue);
  font-size: 4em;
  font-weight: 400;
  transform: translateX(-10px);
}

.price-box .price:before {
  content: "$";
  position: absolute;
  top: -10px;
  left: -35px;
  font-size: 1em;
  transform: scale(0.5);
  height: auto;
}

.price-features {
  margin: 20px 0;
}

.price-features li {
  margin-bottom: 10px;
  position: relative;
  color: #646464;
  padding-left: 30px;
  font-size: 14px;
}

.price-features li::before {
  content: "\2713";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--light-blue);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  left: 0;
  top: 3px;
}

.price-box:nth-child(2) h2 {
  background: var(--orange);
  height: auto;
}

.contact-btn {
  cursor: pointer;
  color: #fff;
  height: auto;
  background: linear-gradient(90deg, #0383ce 0, #00ddf6 100%);
  margin-bottom: 60px;
  font: 500 12px/16px var(--montserrat);
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 0;
  padding: 15px 30px;
  border: 2px solid #fff;
  transition: 0.4s;
}

.contact-btn:hover {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
  background: #fff;
}

@media screen and (min-width: 1026px) {
  .pricing-area {
    /* height: 250px; */
  }

  .price-box {
    margin: 0;
    width: 300px;
    /* height: 500px; */
    height: auto;
  }

  .price-box:nth-child(2) {
    transform: scale(1.16);
    margin: 0 22px;
    box-shadow: 0 0 25px -10px var(--dark-blue);
    background: #fff;
    position: relative;
    z-index: 999;
    height: auto;
  }
}

/* ===== Reviews ===== */
.slideshow-container {
  height: 300px;
  position: relative;
  margin: auto;
  z-index: 1;
}

.mySlides {
  display: none;
  height: 100%;
}

/* Review Cards */
.reviews {
    margin: 50px 0;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.review-carousal {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.review-card {
  width: 33.33%;
  margin: 0 10px;
  padding: 20px 20px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  font-size: 12px;
  height: 100%;
}

.client {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.client img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.client a {
    color: #1b1b1b;
    font-weight: 500;
}

.rating {
  margin-bottom: 7px;
}

.rating i {
  color: #ffbd41;
}

.review p {
  font-size: 12px;
  padding-bottom: 10px;
}

.more-text {
  display: none;
}

.read-btn {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

/* Next prev buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -50px;
  width: auto;
  margin-top: -22px;
  padding: 7px 16px;
  color: #1b1b1b;
  background-color: #cee6ff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border-radius: 50%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -50px;
  left: unset;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background: #ffe2cc;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 40px;
}

.dot-active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ===== Footer ===== */
footer {
  position: relative;
  height: auto;
  padding-top: 450px;
  background: linear-gradient(145deg, #001099 0, #3ad9ff 96%);
}

footer img:not(.logo img) {
  margin-bottom: 30px;
  margin-top: -1px;
  position: absolute;
  width: 100%;
  top: 0px;
}

.footer-row {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.footer-row::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 85%;
  background: var(--light-blue);
  bottom: 30px;
}

.footer-col {
  margin-bottom: 70px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  color: #fff;
  transition: 0.4s;
}

.footer-col ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: var(--light-blue);
  left: 0;
  bottom: -5px;
  transition: 0.4s ease-in-out;
}
.footer-col ul li a:hover::before {
  width: 50px;
}

.footer-col h2 {
  margin-bottom: 0;
  color: #fff;
  font-size: 28px;
}

.footer-line {
  height: 2px;
  width: 200px;
  background: var(--light-blue);
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 30px;
}

.branding {
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding p {
  order: 2;
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #fff;
}

/* =================================================
    Gallery Page
==================================================== */

.main {
  padding: 120px 20px;
  margin: auto;
}

.main h1 {
  font-size: 40px;
}
.main h1 span {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 38px;
}

.main * {
  transition: all 0.4s;
}
.main .main_content {
  margin: 60px 0 40px;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main .main_content .picture_wrapper {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.main .main_content .picture_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  border-radius: 10px;
}
.main .main_content .picture_wrapper:hover img {
  transform: scale(1.1);
}

/* responsive */
@media (min-width: 1200px) {
  .main_content {
    column-count: 3;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main_content {
    column-count: 2;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .main_content {
    column-count: 2;
  }
}
@media (max-width: 575px) {
  .main_content {
    column-count: 1;
  }
}


/* =================================================
    Computer Repair Page
==================================================== */

.services .main_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
  row-gap: 40px;
}

.services .main_content .main_content_col {
  width: 33.333%;
  padding-right: 50px;
}

.service-card {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 6px;
  background: linear-gradient(90deg, #0383ce 0, #00ddf6 100%);
  box-shadow: 0 0.125rem 0.75rem 0 rgb(0, 0, 0, 0.3);
  color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.main_content_col:last-child .service-card {
  background: linear-gradient(145deg, #ff7300 0, #ffd64f 100%);
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card .icon {
  padding: 15px;
  border-radius: 50%;
  background: #daecff;
  margin-bottom: 10px;
}

.service-card .icon i {
  color: var(--dark-blue);
  font-size: 24px;
}
.service-card h3 {
  font-size: 22px;
  font-weight: 500;
  color: #f1f1f1;
}

.service-card p {
  font-size: 14px;
  line-height: 1.7;
  margin: 10px 0;
}


/* =================================================
    Gaming PC Built Page
==================================================== */
.gaming-page.main {
  padding: 100px 20px 0 20px;
}

.gaming-page h1 {
  margin-bottom: 20px;
  color: var(--orange);
}

.gaming-page h1 span {
  font-size: 40px;
  font-weight: unset;
}

.gaming-page .gaming-text {
  margin-bottom: 30px;
}

.gaming-page .gaming-text p{
  margin-bottom: 7px;
  font-weight: 500;
}

/* Auto Carousel */

.slide-container {
  max-width: 668px;
  margin: 20px auto 0 auto;

  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.imgSlides {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.imgSlides img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.prevBtn,
.nextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.3);
  user-select: none;
}

.nextBtn {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.prevBtn {
  left: 0;
}

.prevBtn:hover,
.nextBtn:hover {
  color: #1b1b1b;
  background: rgba(173, 216, 230, 0.6);
}

.dot-container {
  margin: 0 auto 100px auto;
}

.dot-nav {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.dot-nav-active,
.dot-nav:hover {
  background-color: #717171
}

.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}





/* Pricng Area */
#gaming-price {
  margin-bottom: 300px;
}

#gaming-price .price-box {
  box-shadow: 0 0 25px -10px #000;
}




/* =================================================
    About Page
==================================================== */
.page-header {
  height: 65vh;
  background: url("/images/page-header.jpg");
  background-color: rgb(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg,#010c1ae6 0,rgba(177, 177, 177, 0.428) 100%); */
}

.page-header h1 {
  color: var(--dark-blue);
  text-align: center;
  font-size: 42px;
  position: absolute;
  left: 30%;
  z-index: 2;
}

.page-header h1 span {
  color: var(--orange);
}

.about {
  padding-top: 120px !important;
}

.about-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-flex.home {
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.about-flex img {
  width: 50%;
  margin-bottom: 30px;
  margin-right: 20px;
  border-radius: 5px;
}

.about-content span {
  color: var(--dark-blue);
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1em;
  margin-bottom: 25px;
}

/* Our Value */
.about2 {
  background: linear-gradient(90deg, #0383ce 0, #00ddf6 100%);
  color: #fff;
  height: 450px;
  position: relative;
  /* margin-bottom: 60px; */
}
.about2 .about-flex {
  align-items: center !important;
}

.about2 h2,
.about2 h3,
.about2 span {
  color: #fff;
}

.about2-card {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 35%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about2-card .icon {
  padding: 15px;
  border-radius: 50%;
  background: #cee6ff;
  margin-bottom: 10px;
}

.about2-card .icon i {
  color: var(--dark-blue);
  font-size: 24px;
}
.about2-card h3 {
  font-size: 22px;
  font-weight: 500;
}

.about2-card p {
  font-size: 14px;
  line-height: 1.7;
  margin: 10px 0;
}

.our-stats {
  background: #fff;
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.3);
  color: #1b1b1b;
  padding: 40px 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(-80px);
}

.stats-details h3 {
  color: var(--light-blue);
  font-size: 40px;
}

/* =================================================
    Contact Page
==================================================== */
.contact {
  padding-top: 80px !important;
  margin-bottom: -90px;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto 10px auto;
  padding-top: 0;
  height: auto;
  overflow: visible;
  position: relative;
  z-index: 10;
}

.contact-form::before {
  content: url("images/blob.2.png");
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 350px;
  opacity: 0.1;
}

.contact-info {
  width: 20%;
  margin-right: 30px;
}

.form-wrapper {
  width: 80%;
}

.contact-info img {
  width: 100%;
  position: relative;
  left: -20px;
}

.contact-info .info-details {
  padding-left: 20px;
  border-left: 4px solid var(--orange);
  margin-bottom: 20px;
}

.info-details p {
  font-weight: 700;
  color: #646464;
}

.info-details a {
  font-size: 1em;
  font-weight: 400;
  color: #646464;
}

.contact-info .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.icons a {
  padding: 7px 12px;
  margin-right: 30px;
  border-radius: 50%;
  background: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  color: #fff;
  transition: 0.4s;
  font-size: 24px;
}
.icons a i {
  font-size: 24px;
}

.icons a:hover {
  background: transparent;
  color: var(--dark-blue);
  transform: translateY(-10px);
}

.form-wrapper::before {
  content: url("images/blob.2.png");
  position: absolute;
  z-index: 1;
  top: -40px;
  right: -60px;
  opacity: 0.1;
}

#contact {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 20;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 0 29px 0 rgb(0 0 0 / 20%);
  margin-bottom: 50px;
}

.contact-top {
  color: #1d2124;
  display: block;
  font-size: 1.75em;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
  margin-top: 0;
  width: 100%;
}

.contact-top span {
  color: var(--light-blue);
  display: inline-block;
}

#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font: 400 14px/16px var(--poppins);
  border-radius: 5px;
}

#contact button {
  cursor: pointer;
  color: #fff;
  display: block;
  height: auto;
  background: linear-gradient(90deg, #0383ce 0, #00ddf6 100%);
  margin-bottom: 60px;
  font: 500 12px/16px var(--montserrat);
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 0;
  padding: 15px 30px;
  border: 2px solid #fff;
  transition: 0.4s;
}

#contact button:hover {
  transform: translateY(-3px);
  background: #fff;
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

/* =================================================
    FAQ Page
==================================================== */
.faq {
  padding-top: 100px !important;
}
.faq h2 {
  text-align: center !important;
}
.faq h2 span {
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 3px solid var(--orange);
}

.faq-content {
  margin-top: 20px;
}

.acc-btn {
  background-color: #e6f2ff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: 0.4s;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

.acc-active,
.acc-btn:hover {
  background-color: #ffe2cc;
}

.panel {
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: none;
  font-size: 14px;
  display: none;
  overflow: hidden;
}

.acc-btn:after {
  content: "\f0d7";
  color: #1b1b1b;
  float: right;
  font-family: "FontAwesome";
  margin-left: 5px;
}

.acc-active:after {
  content: "\f0d8";
}

/* ===============================================================
    RESPONSIVE DESIGN
   ===============================================================
*/
@media (max-width: 991px) {
  /* ----- Mobile Menu ----- */
  #bar {
    display: block;
  }
  .navbar .nav-menu {
    display: none;
  }
}
